############################
# IDEs
############################

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# NetBeans
nbproject/
nbbuild/
nbdist/
.nb-gradle/
dist/

# VS Code
.vscode/

############################
# Build
############################

# Maven
target/

# Gradle
.gradle/
build/

############################
# Logs & Temp
############################

*.log
*.tmp

############################
# SO
############################

.DS_Store
Thumbs.db

############################
# Configurações Sensíveis
############################

src/conf/*.env

############################
# Others
############################

database-scripts/
web/
build.xml